<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-item>
    <ion-label color="primary" position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="name" required></ion-input>
  </ion-item>
<ion-item>
      <ion-label color="primary" position="floating">email</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">password</ion-label>
      <ion-input type="text" [(ngModel)]="user.password" required></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" (click)="doSignup()">Sign up</ion-button>

</ion-content>
